# PyCharm
.idea/
venv/
__pycache__/

# Scratch File
.scratch/

# Raw Video Files (Large)
rsc/_raws/videos/*

# Journal
.journal/

# Sphinx Build files
sphinx/build/

# Don't ignore any READMEs
!README.md
# Except for this one. This is just to link the setup to the README as a long desc. Not sure if it's required.
/src/README.md

*.pyd

*.mp4
sphinx/batch.log
